<header>
    <nav class="flex justify-between px-8 py-2">
        <div class="flex items-center">
            <img src="../../../../assets/images/profile.jpeg" alt="profile icon" class="rounded-full w-20 h-20 p-3"/>
            <h1 class="font-bold tracking-widest">AAYUSH JAIN</h1>
        </div>
        <div class="flex items-center space-x-16 font-bold tracking-wide">
            <h3>HOME</h3>
            <h3>ABOUT</h3>
            <h3>PROJECTS</h3>
            <h3>CONTACT</h3>
        </div>
    </nav>
</header>